<h1>OMDB Movies</h1>
<form method="GET" action="/movies">
    <label for="movieName">Enter Movie</label>
    <input type="text" id="movieName" name="q" placeholder="Enter Movie Name">
    <input type="submit" value="search" id="Search">
</form>